///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
/*------------------------------------------------------------
Padding
------------------------------------------------------------*/
.u-pl45{padding-left: 45px;}
.u-pl50{padding-left: 50px;}
/*------------------------------------------------------------
Margin
------------------------------------------------------------*/
.u-m0{margin: 0;}

.u-ml-1{margin-left: -1px !important;}
.u-ml2{margin-left: 2px !important;}
.u-ml3{margin-left: 3px !important;}
.u-ml15{margin-left: 15px !important;}

.u-mt5{margin-top: 5px;}

.u-mb15{margin-bottom: 15px !important;}
.u-mb18{margin-bottom: 18px !important;}
.u-mb30{margin-bottom: 30px !important;}