/*------------------------------------------------------------
footer
------------------------------------------------------------*/
footer{
    border-top: 1px solid;
    width: 1670px;
    margin: 0 auto;
    font-size: 1.4rem;
    letter-spacing: .5px;
    a{
        text-decoration: none;
        color: #000;
    }
}
/*
------------------------------------------------------------*/
.c-footer{
    display: flex;
    justify-content: space-between;
    padding: 22px 255px;
    &__left{
        font-size: 1.4rem;
        li{
            display: inline-block;
            a{
                text-decoration: none;
                display: block;
                color: #fff;
                background: #888888;
                padding: 9px 29px;
                margin-right: 16px;
            }
            &:last-child{
                a{padding: 9px 36px;}
            }
        }
        p{margin-bottom: 3px;}
    }
    ul{margin-top: 15px;}
}
