/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-headertop{
    background: #f8f8f8;
    font-size: 1.2rem;
    &__inner{
        width: 1161px;
        margin: 0 auto;
        padding: 6px 0;
    }
}
/*
------------------------------------------------------------*/
.c-header{
    &__inner{
        width: 1161px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        margin: -12px 0 0 1px;
    }
}