/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.l-main{
    width: 1462px;
    margin: 0 auto;
}
/*
------------------------------------------------------------*/


