/*------------------------------------------------------------
about
------------------------------------------------------------*/
.p-about{
    .l-main{width: 1161px;}
}
/*
------------------------------------------------------------*/
.p-about1{
    margin: 51px 0 93px;
    .c-title2{
        margin: 0 0 42px -3px;
        p{
            margin-bottom: -3px;
        }
    }
}
/*
------------------------------------------------------------*/
.p-about2{
    margin: 0 0 83px -1px;
    .c-title2{
        margin: 0 0 44px -3px;
        p{
            margin: 0 0 -2px -7px;
        }
    }
}
/*
------------------------------------------------------------*/
.p-about3{
    margin-bottom: 91px;
    .c-title2{
        margin: 0 0 41px 4px;
        p{
            margin: 0 0 -3px -8px;
        }
    }
}
/*
------------------------------------------------------------*/
.p-about4{
    margin-bottom: 76px;
    .c-title2{
        margin: 0 0 43px -4px;
        p{
            margin: 0 0 -3px -2px;
        }
    }
}
/*
------------------------------------------------------------*/
.p-about5{
    margin: 0 0 92px -2px;
    position: relative;
    .c-title2{
        margin: 0 0 45px;
        p{
            margin: 0 0 -2px -2px;
        }
    }
}
/*
------------------------------------------------------------*/
.p-about6{
    margin-bottom: 100px;
    .c-title2{
        margin: 0 0 44px -1px;
        p{
            margin: 0 0 -4px;
        }
    }
}
/*
------------------------------------------------------------*/
