/*------------------------------------------------------------
nogyo
------------------------------------------------------------*/
.p-nogyo{
    .l-main{width: 1161px;}
}
/*
------------------------------------------------------------*/
.p-nogyo1{
    margin: 50px 0 86px;
    .c-title2{
        margin: 0 0 46px -2px;
        p{
            margin: 0 0 -2px;
        }
    }
    img{margin: 0 0 24px -1px;}
    a{
        text-decoration: none;
        color: #000;
        font-size: 1.4rem;
        img{
            margin: 3px 0 0;
        }
    }
    li{
        margin-bottom: 13px;
    }
}
/*
------------------------------------------------------------*/
.p-nogyo2{
    margin-bottom: 100px;
    .c-title2{
        margin: 0 0 45px -3px;
        p{
            margin: 0 0 -3px -5px;
        }
    }
}
