/*------------------------------------------------------------
title
------------------------------------------------------------*/
.c-title1{
    text-align: center;
    font-size: 2rem;
    color: #999999;
    font-family: Times New Roman;
    p{
        font-size: 2.4rem;
        color: #000;
        font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    }
}
/*
------------------------------------------------------------*/
.c-title2{
    font-size: 1.6rem;
    text-align: center;
    color: #999999;
    p{
        font-size: 3.2rem;
        color: #000;
    }
}