/*------------------------------------------------------------
text
------------------------------------------------------------*/
.c-text1{
    font-size: 1.1rem;
    color: #fff;
    &--c1{
        background: #f78d6c;
        padding: 6px 15px 4px 15px;
    }
    &--c2{
        background: #51c571;
        padding: 6px 10px 4px 9px;
    }
    &--c3{
        background: #68b4ce;
        padding: 6px 26px 4px 26px;
    }
}
/*
------------------------------------------------------------*/
