/*------------------------------------------------------------
navi
------------------------------------------------------------*/
.c-navi1{
    ul{
        display: flex;
        margin-right: 3px;
    }
    li{
        flex: 1 1 auto;
        margin-left: 30px;
        font-size: 1.3rem;
        &:nth-child(2){margin-left: 24px;}
        &:nth-child(3){margin-left: 27px;}
        &:nth-child(4){margin-left: 28px;}
    }
    a{
        display: block;
        text-decoration: none;
        color: #000;
        padding: 30px 0 39px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background: #888888;
            top: 50%;
            left: 0;
            transition: all .3s;
            opacity: 0;
        }
    }
    li.active a:after{
        opacity: 1;
        top: 50px;
    }
}
/*
------------------------------------------------------------*/
