/*------------------------------------------------------------
list
------------------------------------------------------------*/
.c-list1{
    font-size: 1.3rem;
    a{
        text-decoration: none;
        color: #000;
    }
    li{
        padding: 11px 0 10px;
        border-top: 1px dotted;
        &:nth-child(3){
            padding: 12px 0 10px;
        }
        &:last-child{
            border-bottom: 1px dotted;
            padding: 10px 0 10px;
        }
    }
    &__cal{
        font-size: 1.4rem;
        letter-spacing: -1px;
        padding-right: 13px;
        &--r1{
            position: relative;
            top: 3px;
        }
        &--r2{
            position: relative;
            top: 2px;
        }
    }
}
/*
------------------------------------------------------------*/
.c-list2{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__content{
        margin-top: 11px;
        line-height: 23px;
        font-size: 1.3rem;
        margin-left: 2px;
    }
    &__box{
        width: 370px;
        position: relative;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    p{
        font-size: 1.6rem;
        margin-bottom: 2px;
        margin-left: -1px;
    }
    &__tag{
        font-size: 1.6rem;
        color: #fff;
        background: #1d2088;
        position: absolute;
        top: 9px;
        left: 6px;
        padding: 2px 21px 1px 22px;
        &:after{
            border: 1px solid #fff;
            content: "";
            position: absolute;
            width: 92%;
            top: 50%;
            left: 4px;
            height: 73%;
            transform: translateY(-50%);
        }
        &--l1{
            left: 7px;
        }
        &--l2{
            left: 9px;
        }
    }
}
/*
------------------------------------------------------------*/
.c-list3{
    a{
        display: flex;
        text-decoration: none;
        color: #000;
    }
    &__box{
        position: relative;
        padding: 30px 0;
        border-top: 1px solid #939393;
        &:nth-child(4){
            margin-left: 1px;
        }
    }
    &__content{
        margin-left: 26px;
        p{
            font-size: 1.8rem;
            margin-bottom: 12px;
            &:first-child{
                font-size: 1.3rem;
                color: #ccc;
                margin:0 0 4px 1px;
                position: relative;
            }
        }
        span{
            font-size: 1.6rem;
            line-height: 28px;
        }
    }
    &__arrow1{
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        &--t1{
            top: 52%;
        }
    }
    &__tag{
        color: #fff;
        position: absolute;
        background: #bd0000;
        font-size: 1.1rem !important;
        line-height: 1 !important;
        padding: 4px 14px 3px 14px;
        &--tl1{
            top: -1px;
            left: 129px;
        }
        &--tl2{
            top: -1px;
            left: 107px;
        }
    }
}