/*------------------------------------------------------------
slide
------------------------------------------------------------*/
.c-slide1{
    .slick{
        &-dots{
            left: 3px !important;
            bottom: -30px !important;
            li{
                margin: 0 4px;
                button{
                    width: 14px !important;
                    height: 14px !important;
                    &:before{
                        font-size: 25px !important;
                        top: 3px !important;
                        left: 3px !important;
                        width: 8px !important;
                        height: 8px !important;
                        content: "" !important;
                        opacity: .25 !important;
                        border-radius: 50% !important;
                        background: #22963c !important;
                    }
                }
            }
            li.slick-active{
                button{
                    border: 1px solid #22963c !important;
                    border-radius: 50% !important;
                    &:before{
                        opacity: .75 !important;
                        color: #22963c !important;
                    }
                }
            }
        }
    }
}
/*
------------------------------------------------------------*/
