/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-banner{
    width: 1462px;
    margin: 0 auto 72px;
    left: -1px;
    &__item{position: relative;}
    span{
        font-size: 2.8rem;
        color: #fff;
        position: absolute;
        top: 50%;
        right: 161px;
        transform: translateY(-50%);
    }
}
/*
------------------------------------------------------------*/
.c-news{
    &__title{
        font-size: 1.3rem;
        margin-bottom: 10px;
        span{
            font-size: 1.8rem;
            margin-right: 12px;
        }
    }
    p{
        font-size: 1.1rem;
        color: #bd0000;
        font-weight: bold;
        letter-spacing: -1px;
        margin-bottom: -1px;
    }
    &__text{
        display: inline-block;
        margin-left: 22px;
        color: #333333;
    }
}
/*
------------------------------------------------------------*/
.c-gallery{
    margin-left: -1px;
    a{
        display: block;
        margin-bottom: 47px;
        &:nth-child(2){margin-bottom: 50px;}
        &:last-child{ margin-bottom: 0;}
    }
}
/*
------------------------------------------------------------*/
.c-intro{
    display: flex;
    &__content{
        margin: -2px 0 0 26px;
        line-height: 27px;
        &--l1{
            position: relative;
            margin-left: -15px;
            left: 15px;
            margin-bottom: 15px !important;
        }
    }
    &__content{
        margin: -2px 0 0 26px;
        line-height: 27px;
    }
    img{margin: 4px 0 0 -2px;}
    p{
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    span{
        font-size: 1.6rem;
        font-weight: bold;
        display: block;
        text-align: right;
        margin-right: 5px;
    }
}
/*
------------------------------------------------------------*/
.c-program{
    p{
        &:first-child{
            font-size: 1.5rem;
            line-height: 25px;
            margin: 0 0 21px 2px;
        }
        &:last-child{
            font-size: 1.5rem;
            line-height: 26px;
            margin-left: 2px;
        }
    }
    &__img{
        margin-bottom: 27px;
        position: relative;
        .c-tag1{
            top: 32px;
            left: 31px;
            padding: 2px 25px 1px 24px;
        }
    }
}
/*
------------------------------------------------------------*/
.c-idea{
    &__content{
        font-size: 1.5rem;
        margin-bottom: 24px;
        line-height: 26px;
    }
    ul{
        font-size: 1.8rem;
        border: 1px solid #ccc;
        position: relative;
        left: -2px;
        padding: 24px 0 23px 9px;
        width: 1160px;
    }
    li{
        margin-bottom: 30px;
        letter-spacing: -1px;
        line-height: 28px;

        &:nth-child(2){margin-bottom: 26px;}
        &:nth-child(3){margin-bottom: 27px;}

        &:nth-child(2),
        &:nth-child(3){
            p{margin-bottom: 8px;}
            span{
                line-height: 32px;
                padding: 0;
            }
        }
        &:last-child{
            margin: 0;
            span{padding: 0;}
        }
    }
    p{
        font-weight: bold;
        margin-bottom: 10px;
        letter-spacing: 0;
    }
    span{
        letter-spacing: 0;
        padding-left: 3px;
    }
}
/*
------------------------------------------------------------*/
.c-organ{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    &__left{
        width: 580px;
        margin-left: -1px;
    }
    &__right{
        flex: 1 1 auto;
        margin-left: 2px;
    }
    p{
        margin-bottom: 10px;
        &:nth-child(2){margin-bottom: 13px;}
    }
    &__wrapper{
        display: flex;
        margin-bottom: 11px;
        li{margin-bottom: 1px;}
    }
    &__img{
        position: relative;
        .c-tag1{
            top: 31px;
            left: 32px;
            padding: 2px 17px 1px 16px;
        }
    }
}
/*
------------------------------------------------------------*/
.c-recuit{
    display: flex;
    justify-content: space-between;
    &__content{
        margin: -5px 0 0 -2px;
        line-height: 26px;
        p{
            font-size: 1.5rem;
            margin-bottom: 19px;
        }
        a{
            text-decoration: none;
            font-size: 1.4rem;
            letter-spacing: 0.1px;
            color: #000;
        }
        &:last-child{
            margin: 0 4px 0 0;
            position: relative;
        }
        .c-tag1{
            top: 18px;
            right: 17px;
            padding: 1px 51px 0px 51px;
        }
    }
}
/*
------------------------------------------------------------*/
.c-tag1{
    position: absolute;
    font-size: 1.6rem;
    background: #1d2088;
    color: #fff;
    &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 93%;
        height: 74%;
        border: 1px solid #fff;
        transform: translate(-50%,-50%);
    }
}
/*
------------------------------------------------------------*/
.c-nogyo1{
    &__content{
        font-size: 1.5rem;
        p{
            line-height: 27px;
            margin-bottom: 17px;
            &:first-child{
                margin-left: -21px;
                position: relative;
                left: 21px;
            }
        }
    }
}
/*
------------------------------------------------------------*/
.c-bussiness{
    display: flex;
    justify-content: space-between;
    &__slide{
        width: 560px;
        left: -1px;
    }
    &__content{
        flex: 1 1 auto;
        font-size: 1.5rem;
        margin: -3px 0 0 36px;
        line-height: 26px;
        p{margin-bottom: 10px;}
    }
    &__item{
        position: relative;
        .c-tag1{
            top: 32px;
            left: 30px;
            padding: 2px 25px 1px 24px;
        }
    }
}